.chatRoomBottom{
    height: 10%;
    width: 100%;
    border: 1px solid white;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatRoomBottomInput{
    width: 80%;
    height: 80%;
    background-color: black;
    color: white;
    display: block;
    resize: none;
    outline:none;
    border: none;
    font-size: 1rem;
}

.chatRoomBottomInput, .chatRoomBottomIcon{
    margin-left: 2rem;
    margin-right: 2rem;
}