.chatRoomTop{
    height: 10%;
    width: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
.chatRoomTopName, .chatRoomTopIcon{
    margin-left: 2rem;
    margin-right: 2rem;
}