.chatRoomsBottom {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    border: 1px solid white;
    color: white;
    white-space: nowrap; /* Prevents text from wrapping */
    overflow-x: hidden; /* Hides overflow */
    text-overflow: ellipsis; /* Shows ... for overflow */
}