* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Baloo Bhai 2", sans-serif;
}

::-webkit-scrollbar {
    border-radius: 1rem;
    width: .5vw;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.455);
}

.icon {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    transition: background-color .5s ease, color .5s ease;
    flex-shrink: 0;
    background-color: black;
    color: white;
}

@media (hover:hover) and (pointer:fine) {
    .icon:hover {
        cursor: pointer;
        background-color: white;
        color: black;
    }
}

.icon:active {
    cursor: pointer;
    background-color: white;
    color: black;
}

@media (max-width: 750px){
    .navbar{
        width: 25vw;
        height: 100vh;
    }
    .chatRoomsContainer{
        width:75vw;
        height: 100vh;
    }
    .chatRoomContainer{
        display: none;
    }
}